{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <img src="{{ user.profile.image.url }}" class="img-thumbnail" alt="{{ user.username }}'s profile image">
    <div class="content-section">
        <ul class="profile-details">
            <li>Username: {{ user.username }}</li>
            <li>Email Address: {{ user.email }}</li>
        </ul>
        <form method="POST" enctype="multipart/form-data">
           {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Update</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already Have an Account? <a href="#" class="ml-2">Sign In</a></small>
        </div>
    </div>
{% endblock %}